@using Rookie.AMO.Identity.Quickstart.Manage
@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
    var disable = Model.ChangePasswordTimes == 0; 
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="Manage" asp-action="ChangePassword" method="post" class="form-horizontal" role="form">
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    @if (Model.ChangePasswordTimes != 0)
    {
        <div class="form-group">
            <label asp-for="OldPassword" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="OldPassword" maxlength="30" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
        </div>
    }
    else
    {
        <div class="form-group">
            <label class="col-md-12 control-label">This is the first time you logged in. <br /> You have to changes your password to continue. </label>
        </div>
    }
    <input type="hidden" asp-for="ReturnUrl" />
    <input type="hidden" asp-for="ChangePasswordTimes" />
    <div class="form-group">
        <label asp-for="NewPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="NewPassword" maxlength="30" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" maxlength="30" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button class="btn btn-danger m-1" name="button" value="changepassword">Change password</button>
            <button class="btn btn-secondary m-1" name="button" value="cancel" disabled=@disable >Cancel</button>
        </div>
    </div>
</form>