.multiSelectContainer {
    position: relative;
    text-align: left;
    width: 70%;
}
.input-group .searchWrapper {
    line-height: 1.3;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.multiSelectContainer input {
    margin-top: 0px;
}
.multiSelectContainer .search-wrapper .chip {
    display: none;
}
#search_input{
    width: 100%;
}
.filter_container .row{
    flex-wrap: nowrap;
    
}
.filter_container .row .input-group-append .filter_button{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.optionContainer .option:hover{
	background-color: #dee2e6;
    color: black;
}