.multiSelectContainer {
    position: relative;
    text-align: left;
    width: 79%;
}
.input-group .searchWrapper {
    line-height: 1.3;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.multiSelectContainer input {
    margin-top: 0px;
}
.chip {
    display: none;
}
#search_input{
    width: 100%;
}