.App {
  margin-top: 4rem;
}

.container-fluid {
  max-width: 1450px;
}

.text-right {
  text-align: right;
}

.margin-left {
  margin-left: 162px;
}

.UserIcon {
  color: #fff;
  text-decoration: none;
}

.UserIcon:hover {
  color: rgb(147, 173, 157);
}

.resize {
  width: 50%;
}

.resize-margin2 {
  margin-left: 475px;
}

.margin {
  margin: 10px;
}

.color {
  background-color: red;
  border-color: red;
  color: white;
}

.color1 {
  background-color: white;
  border-color: darkgrey;
  color: darkgrey;
}

.height {
  height: 150px;
}

.error-message {
  font-size: 9.5px;
  color: red;
  margin-bottom: 0px;
}

.form-create-user {
  max-width: 500px;
  margin-right: auto;
  font-size: 13px;
}

.red-boundary {
  border: red solid 1px;
  border-radius: 5px;
  box-shadow: 1px 1px red;
}
