/* PopupDetail */

.popupdetail .auth-form {
  width: inherit;
  min-width: 400px;
}

/* PopupInfor */

.popup .close {
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 24px!important;
  font-weight: bold;
  text-decoration: none;
  color: #cf2338;
}

.popup .close:hover {
  color: rgb(180, 31, 31);
}

/* Common */

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: fadeIn linear 0.1s;
}

.modal__open {
  display: flex;
}

.modal__close {
  display: none;
}

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.08);
}

.modal__body {
  --growth-from: 0.7;
  --growth-to: 1;
  margin: auto;
  position: relative;
  z-index: 1;
  border-radius: 5px;
  animation: growth linear 0.1s;
}

.auth-form {
  width: 290px;
  background-color: var(--white-color);
  border-radius: 5px;
  border: 1px solid rgb(111, 114, 116);
}

.auth-form__header {
  font-size: 16px;
  font-weight: bold;
  background-color: rgb(239, 241, 245);
  color: rgb(207, 35, 56);
  padding: 15px 0 15px 30px;
  border-bottom: 1px solid rgb(111, 114, 116);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.auth-form__question {
  margin: 0;
}

.auth-form__body {
  padding: 15px 30px;
  background-color: #fafcfc;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.auth-form__heading {
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  text-align: justify;
}

.auth-form__action {
  margin-top: 20px;
}

.btn-accept {
  padding: 3px 10px;
  background-color: rgb(227, 14, 24);
  color: white;
  border: none;
  border-radius: 3px;
  margin-right: 5px;
  font-size: 13px;
}

.btn-accept:hover {
  background-color: rgba(227, 14, 24, 0.8);
  cursor: pointer;
}

.btn-cancel {
  padding: 2px 10px;
  background-color: white;
  color: #a0a6ac;
  border: 1px solid #a0a6ac;
  border-radius: 3px;
  font-size: 13px;
  margin-right: 5px;
}

.btn-cancel:hover {
  background-color: #d4d4d4;
  cursor: pointer;
}

.width-cp {
  width: 488px;
}

.error-message {
  font-size: 10px;
  margin-bottom: 0px;
}