.table_border_spacing {
    margin-top: 1.5rem;
    table-layout: fixed;
    border-spacing: 10px;
    border-collapse: separate;
}
.table_border_spacing td, .table_border_spacing th{
    border-top: none;
}
th:hover{
    background-color: #dee2e6;
}
.header_tools{
    width: 13%;
}
.header_name{
    width: 40%;
}